IS_DEBUGGING = false
NODE_ENV = local || development || production || test
PORT = 3003

#API URL
API_URL_LOCAL = http://localhost:3002
API_URL_DEV = your_api_url_dev_here
API_URL_PRODUCTION = your_api_url_production_here

#MYSQL database creds
MYSQL_HOST = localhost
MYSQL_USERNAME = 
MYSQL_PASSWORD = 
MYSQL_DBNAME = 
MYSQL_POOL_CONNECTION_LIMIT = 10

SCREENSHOTS_DEL=1

CRYPTO_PASSWORD = your_crypto_password_here

#mongodb uri
MONGO_URI = mongodb://your_user:your_password@your_host/your_dbname

#email service
SMTP_URL = smtps://apikey:your_sendgrid_api_key_here@smtp.sendgrid.net/?pool=true&maxConnections=5&maxMessages=100
SENDGRID_API_KEY = your_sendgrid_api_key_here
EMP_ADMIN_EMAIL = your_admin_email_here

#Web url
WEB_LOCAL= your_web_local_url_here
WEB_DEV=your_web_dev_url_here
WEB_PRODUCTION=your_web_production_url_here


# Redis creds
REDIS_HOST=
REDIS_PASSWORD=

ORGANIZATION_ID = 1,2

# Default SELLER 
EMPLOGO=your_emp_logo_url_here
FACEBOOK=your_facebook_url_here
TWITTER=your_twitter_url_here
SKYPE_EMAIL=your_skype_email_here
BRAND_NAME=EmpMonitor
SUPPORT_EMAIL=your_support_email_here
COPYRIGHT_YEAR=2020-2023
INSTAGRAM=your_instagram_url_here
HELP_LINK=your_help_link_url_here