IS_DEBUGGING = false
NODE_ENV = local
PORT = 3002
VERSION = V3

API_URL_LOCAL = localhost:3002
API_URL_DEV = your_api_url_dev_here
API_URL_PRODUCTION = your_api_url_production_here

ADMIN_URL_LOCAL = http://localhost:3002/
ADMIN_URL_DEV = your_admin_url_dev_here
ADMIN_URL_PRODUCTION = your_admin_url_production_here

MYSQL_HOST = your_mysql_host
MYSQL_USERNAME = your_mysql_username
MYSQL_PASSWORD = your_mysql_password
MYSQL_DBNAME = your_mysql_dbname

MYSQL_POOL_CONNECTION_LIMIT = 10
PAGINATION_LIMIT = 10
MYSQL_TIMEOUT = 60000

MONGO_URI = mongodb://your_user:your_password@your_host/your_dbname

SESSION_SECRET = your_session_secret_here

RATE_LIMIT_DURATION = 30
RATE_LIMIT_REQUEST_ALLOWED = 10000000000

CRYPTO_PASSWORD = your_crypto_password_here

JWT_ACCESS_TOKEN_SECRET = your_jwt_access_token_secret_here
JWT_REFRESH_TOKEN_SECRET = your_jwt_refresh_token_secret_here
JWT_TOKEN_LIFE = 10h

JWT_SECRET = your_jwt_secret_here

RABBITMQ_URL = your_rabbitmq_url_here

MYSQL_TIMEOUT = true
MYSQL_TIMEOUT_INTERVAL = 65000

DISABLE_KEY_STROKE_IDS = 0

SHORTNER_DEFAULT_ADDED_VALUE = 1000000000000

REDIS_HOST = localhost
REDIS_PASSWORD =

#srilankan airline
COMPUTERNAMESTART = D0,UL,IT
ORGANIZATION_ID = 150

#tce
SPECIAL_ORGANIZATION_ID = 149
SPECIAL_USERNAME = 1

RESTRICTED_USERNAME = admin
RESTRICTED_ORGANIZATION_ID = 1

#tce
COMP_UNAME_ORG_ID = 1

#request limiter
MAX_REQUEST_ALLOWED = 100000000
MAX_REQUEST_ALLOWED_TIMEFRAME = 60
MAX_REQUEST_ALLOWED_TIMEFRAME_FOR_AUTH = 3600

CHECK_PASSWORD = true
PASSWORD_CHECK_VERSION = 2.0.22
CHECK_PASSWORD_ORGANIZATION_ID = 0

#merge user by username
MERGE_USERNAME_ORG_ID = 0

SECRET_KEY = your_secret_key_here

WEB_SOCKET_SERVER_URL = your_websocket_server_url_here

SWAGGER_AUTH_IDS = {"admin":"your_password","developer":"your_password","tester":"your_password"}

APP_AMEMBER_KEY = your_amember_key_here
APP_AMEMBER_URL = your_amember_url_here

PLAN_CACHE_INTERVAL = 86400
