IS_DEBUGGING = false
NODE_ENV = development
PORT = 3000
VERSION = V3

API_URL_LOCAL = localhost:3000
API_URL_DEV = localhost:3000
API_URL_PRODUCTION = localhost:3000
IS_HTTP_HTTPS = https

MYSQL_HOST = your_mysql_host
MYSQL_USERNAME = your_mysql_username
MYSQL_PASSWORD = your_mysql_password
MYSQL_DBNAME = your_mysql_dbname

MYSQL_POOL_CONNECTION_LIMIT = 10
PAGINATION_LIMIT = 10
MYSQL_TIMEOUT = 60000

MONGO_URI = mongodb://your_user:your_password@your_host/your_dbname

SESSION_SECRET = your_session_secret_here
JWT_EXPIRY = 7d
JWT_EXPIRY_SECONDS = 30d

JWT_ACCESS_TOKEN_SECRET = your_jwt_access_token_secret_here

RATE_LIMIT_DURATION = 15
RATE_LIMIT_REQUEST_ALLOWED = 1000

CRYPTO_PASSWORD = your_crypto_password_here

SENDGRID_API_KEY = your_sendgrid_api_key_here
EMP_ADMIN_EMAIL = your_admin_email_here
EMP_ALERT_ADMIN_EMAIL = your_alert_admin_email_here

ZOHO_CLIENT_ID = your_zoho_client_id_here
ZOHO_CLIENT_SECRET = your_zoho_client_secret_here
WEB_LOCAL = your_web_local_url_here
WEB_DEV = your_web_dev_url_here
WEB_PRODUCTION = your_web_production_url_here

WEB_LINK_DEV = your_web_link_dev_url_here
WEB_LINK_PRODUCTION = your_web_link_production_url_here

FREE_PLAN_ID = 13
REDIS_HOST = localhost
REDIS_USERNAME = root
REDIS_PASSWORD = your_redis_password_here

# Shortner service
SHORTNER_DEFAULT_ADDED_VALUE = 1000000000000

# Build API URL (jenkins)
BUILD_API_URL = your_build_api_url_here
BUILD_AUTH_USER = your_build_auth_user_here

JENKINS_URL = your_jenkins_url_here
JENKINS_AUTH_USERNAME = your_jenkins_username
JENKINS_AUTH_PASSWORD = your_jenkins_password

#tce
ORGANIZATION_ID = 362

FIREBASE_API_KEY = your_firebase_api_key_here

SMTP_URL = your_smtp_url_here

# Available transports: firebase, websocket
PUSH_NOTIFICATION_TRANSPORT = websocket
WEB_SOCKET_SERVER_URL = your_websocket_server_url_here

#alert service URL
ALERT_SERVICE_URL = http://localhost:3000
IS_ALERT_SERVICE_ENABLED = false

#FTP storage
FTP_HTTP_PROXY_KEY = your_ftp_proxy_key_here
FTP_MAX_REQ_COUNT_IN_ONE_REDUCER = 3
FTP_MIN_ONE_TIME_CONECTIONS = 10
FTP_MAX_ONE_TIME_CONECTIONS = 20

#report
REPORT_FILE_DELETE_AFTER_TIME = 24h

# Default SELLER
EMPLOGO = your_emp_logo_url_here
FACEBOOK = your_facebook_url_here
TWITTER = your_twitter_url_here
SKYPE_EMAIL = your_skype_email_here
BRAND_NAME = EmpMonitor
SUPPORT_EMAIL = your_support_email_here
COPYRIGHT_YEAR = 2020-2023
INSTAGRAM = your_instagram_url_here
HELP_LINK = your_help_link_url_here

#default Idle Time
IDLE_MINUTES = 15

# Maximum pro-request
MAX_PRE_REQUEST = 86400

ORGANIZATION_ID_WITH_OPTIONAL_USER_EMAIL = 1,285

ORGANIZATION_HAS_MERGED_REPORT = 1

# For mail Testing purpose
BCC_MAIL_ID = your_bcc_email_here

SUSPEND_EMPLOYEES_ORG_ID = 1

# organization id for IP masking
IP_MASKING_ORG_ID = 1

# Organization ID with specific office time in productivity reports
CUSTOMSCREENSHOT_ORG_ID = 197,240
OFFICE_TIME_ORGANIZATION_ID = 1

# organization id for sending Working hours in Auto Email Report
WORKING_HOURS_ORG_ID = 246,1,1502,257

EMAIL_ORGANIZATION_DATA_DELETE = your_email_here
EMAIL_ORGANIZATION_DATA_DELETE_BCC = your_email_here
ORGANIZATION_DATA_DELETE_ORG_ID = 246

CUSTOM_BULK_WEB_BLOCKING = 250

# For Workforce API authentication
WORK_MANAGEMENT_SECRET_KEY = your_work_management_secret_key_here

AUTO_ACCEPT_TIME_CLAIM = 246,257,247,249

ORGANIZATION_ID_BREAKDURATION = 246,250

# Organization Blocking Forgot Password for Employee
BLOCKING_FORGOT_PASSWORD_ORG_ID = 257,

SWAGGER_AUTH_IDS = {"admin":"your_password","developer":"your_password","tester":"your_password","mobile_development":"your_password"}

BIOMETRIC_EXPIRY = 1y

EMP_REPORT_EMAIL = your_report_email_here
EMP_SUPPORT_EMAIL = your_support_email_here

VERSION_INFO_SECRET_KEY = your_version_info_secret_key_here

BUCKET_NAME_BIOMETRICS = your_bucket_name_here

FIELD_TRACKING_SECRET_KEY = your_field_tracking_secret_key_here

WORKFORCE_PASSWORD = your_workforce_password_here

GOOGLE_MAP_API_KEY_SILAH = your_google_map_api_key_here

APP_AMEMBER_KEY = your_amember_key_here
APP_AMEMBER_URL = your_amember_url_here

EMP_CLOUD_SECRET_KEY = your_cloud_secret_key_here

REPORT_GENERATION_SERVICE_URL = your_report_generation_service_url_here

AMEMBER_PAYMENT_SECRET_KEY = your_amember_payment_secret_key_here

ADD_COMPUTER_NAME_IN_REPORT = 246

NAS_SFTP_HOST = your_nas_sftp_host
NAS_SFTP_PORT = 7361
NAS_SFTP_USER = your_nas_sftp_user
NAS_SFTP_PASSWORD = your_nas_sftp_password
NAS_SFTP_BASE_PATH = /mnt/nfs/emp-bio-poc
NAS_PROJECT_NAME = your_nas_project_name_here
NAS_SECRET_KEY = your_nas_secret_key_here

CCTV_SECRET_KEY = your_cctv_secret_key_here

GOOGLE_CLIENT_ID = your_google_client_id_here

BUCKET_NAME = your_bucket_name_here
