NODE_ENV = development
PORT = 3001
IS_DEBUGGING = true
ENABLE_VALIDATION = false
UPLOAD_PATH = ./public/uploads

MONGO_URI = mongodb://your_user:your_password@your_host/your_dbname
MONGO_DB_NAME = your_mongo_dbname

MONGO_ACTIVITY_DURATION_PER_CALL_IN_SECONDS = 300

MYSQL_HOST = your_mysql_host
MYSQL_USERNAME = your_mysql_username
MYSQL_PASSWORD = your_mysql_password
MYSQL_DATABASE = your_mysql_dbname

DROP_TABLE = false
TIMEZONE_SEQUELIZE = +00:00

TIMEZONE = Africa/Abidjan

JWT_ACCESS_TOKEN_SECRET = your_jwt_access_token_secret_here
JWT_REFRESH_TOKEN_SECRET = your_jwt_refresh_token_secret_here
JWT_EXPIRY = 10h
CRYPTO_PASSWORD = your_crypto_password_here

ATTENDANCE_URL = your_attendance_url_here
ACTIVITY_PRODUCTIVITY_URL = http://localhost:3005/api/v1/reports/activity

REDIS_HOST = localhost
REDIS_PASSWORD = your_redis_password_here

#request limiter
MAX_REQUEST_ALLOWED = 2500000
MAX_REQUEST_ALLOWED_TIMEFRAME = 150
CUSTOMSCREENSHOT_ORG_ID = 197,240
CRONS_JOBS_URL = http://localhost:3004/api/v3/enableFailedRestore

SWAGGER_AUTH_IDS = {"admin":"your_password","developer":"your_password","tester":"your_password"}

UPDATE_IN_SCREENSHOT_OFFICE_USER = 1,299,

ORG_OFFICE_AGENT_TRANSFORMED = 1,247

CUSTOM_S3_SCREENSHOT_FORMAT = 246,

CUSTOM_DATE_EMAIL_SCREEN_FORMAT = 286

WEB_SOCKET_SERVER_URL = your_websocket_server_url_here
