NODE_ENV = development
PORT = 3000
IS_DEBUGGING = true
ENABLE_VALIDATION = true
UPLOAD_PATH = ./public/uploads

MONGO_URI = mongodb://localhost/emp_local_db
MONGO_ACTIVITY_DURATION_PER_CALL_IN_SECONDS = 300

MYSQL_HOST = localhost
MYSQL_DATABASE = emp_local_db
MYSQL_USERNAME = root
MYSQL_PASSWORD = root

TIMEZONE = Africa/Abidjan
TIMEZONE_SEQUELIZE = Africa/Abidjan

JWT_ACCESS_TOKEN_SECRET = your_jwt_access_token_secret_here
JWT_REFRESH_TOKEN_SECRET = your_jwt_refresh_token_secret_here
JWT_EXPIRY = 10h
CRYPTO_PASSWORD = your_crypto_password_here

GOOGLE_LIMITER_MAXIMUM_ATTEMPTS = 27

#request limitar
MAX_REQUEST_ALLOWED = 20
MAX_REQUEST_ALLOWED_TIMEFRAME = 60