IS_DEBUGGING = false
NODE_ENV = development
PORT = 3005
VERSION = V3

API_URL_LOCAL = your_api_url_here
API_URL_DEV = your_api_url_here
API_URL_PRODUCTION = your_api_url_here

MYSQL_HOST = your_mysql_host
MYSQL_USERNAME = your_mysql_username
MYSQL_PASSWORD = your_mysql_password
MYSQL_DBNAME = your_mysql_dbname

MYSQL_POOL_CONNECTION_LIMIT = 10
PAGINATION_LIMIT = 10
MYSQL_TIMEOUT = 60000

MONGO_URI = mongodb://your_user:your_password@your_host/your_dbname

SESSION_SECRET = your_session_secret_here
JWT_EXPIRY = 7d
JWT_ACCESS_TOKEN_SECRET = your_jwt_access_token_secret_here

RATE_LIMIT_DURATION = 15
RATE_LIMIT_REQUEST_ALLOWED = 1000

CRYPTO_PASSWORD = your_crypto_password_here

GMAIL_EMAIL = your_gmail_email_here
GMAIL_PASSWORD = your_gmail_password_here

SENDGRID_API_KEY = your_sendgrid_api_key_here
EMP_ADMIN_EMAIL = your_admin_email_here

ZOHO_CLIENT_ID = your_zoho_client_id_here
ZOHO_CLIENT_SECRET = your_zoho_client_secret_here
WEB_LOCAL = your_web_local_url_here
WEB_DEV = your_web_dev_url_here
WEB_PRODUCTION = your_web_production_url_here

WEB_LINK_DEV = your_web_link_dev_url_here
WEB_LINK_PRODUCTION = your_web_link_production_url_here

FREE_PLAN_ID = 13
REDIS_HOST = localhost
REDIS_PASSWORD = your_redis_password_here

ALERT_SERVICE_URL = http://localhost:3000/api/v3/jobs

SWAGGER_AUTH_IDS = {"admin":"your_password","developer":"your_password","tester":"your_password"}

WEB_SOCKET_SERVER_URL = your_websocket_server_url_here
