PORT = 
NODE_ENV = PRODUCTION

CRYPTO_PASSWORD =

JWT_ACCESS_TOKEN_SECRET = 
JWT_REFRESH_TOKEN_SECRET =
JWT_TOKEN_LIFE =

JWT_SECRET =

REDIS_PORT=6379

REDIS_HOST=localhost
REDIS_PASSWORD=


REDIS_HOST_SUBSCRIBER=localhost
REDIS_PASSWORD_SUBSCRIBER=


REDIS_HOST_PUBLISHER=localhost
REDIS_PASSWORD_PUBLISHER=